@font-face {
  font-family: 'springtime_romanceregular';
  src:
    url('./assets/fonts/springtimeromance-lgqqx-webfont.woff2') format('woff2'),
    url('./assets/fonts/springtimeromance-lgqqx-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-springtime: 'springtime_romanceregular';
}

html {
  font-size: 10px;
}
